body {
  font-family: serif, "Microsoft YaHei";
}
@font-face {
  font-family: "iconfont";
  src: url("./iconfont/iconfont.eot");
  src: url("./iconfont/iconfont.eot?#iefix") format("embedded-opentype"),
    url("./iconfont/iconfont.woff2") format("woff2"),
    url("./iconfont/iconfont.woff") format("woff"),
    url("./iconfont/iconfont.ttf") format("truetype"),
    url("./iconfont/iconfont.svg#iconfont") format("svg");
}
.iconfont {
  font-family: "iconfont" !important;
  opacity: 0.3;
  font-size: 100px;
  font-style: normal;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.total-content {
  margin: 20px auto 0 auto;
  width: 1500px;
  border-radius: 3px;
}
.header {
  display: flex;
  justify-content: space-between;
  height: 120px;
}
.statistical-module {
  border-radius: 5px;
  width: 360px;
  height: 120px;
}
.total-task {
  position: relative;
  background-color: #31b48d;
}
.unsolved-task {
  position: relative;
  background-color: #38a1f2;
}
.processing-task {
  position: relative;
  background-color: #7538c7;
}
.solved-task {
  position: relative;
  background-color: #3b67a4;
}
.module-title {
  top: 15px;
  left: 15px;
  position: absolute;
  color: white;
  font-size: 14px;
}
.module-number {
  top: 70px;
  left: 15px;
  position: absolute;
  color: white;
  font-size: 32px;
  font-weight: 500;
  line-height: 30px;
}
.module-isOnline {
  top: 15px;
  right: 15px;
  position: absolute;
  width: 35px;
  height: 22px;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.3);
  color: white;
  font-size: 14px;
  text-align: center;
}
.module-percentage {
  top: 70px;
  right: 15px;
  position: absolute;
  color: white;
  font-size: 32px;
  font-weight: 500;
  line-height: 30px;
}
.module-icon {
  top: 10px;
  right: 60px;
  position: absolute;
  width: 50px;
  height: 50px;
}
table {
  width: 1500px;
  border-collapse: collapse;
}
table thead {
  width: 1500px;
  border-bottom: 1px solid #dcdee3;
  color: #333;
  background: #ebecf0;
  text-align: left;
}
table tr {
  height: 60px;
  border: 0;
}
table th {
  padding-left: 10px;
  border: 0;
}
.title-name {
  width: 300px;
}
.title-description {
  width: 800px;
}
.title-end-time {
  width: 300px;
}
.title-state {
  width: 300px;
}
.title-operate {
  width: 300px;
}
.list-content{
  padding-left: 10px;
  padding-right: 10px;
}
.delete-icon{
  height: 35px;
  width: 70px;
  background-color: #ee706d;
  border-radius: 5px;
  text-align: center;
  color:white;
}
.ell-row{
  text-align: center;
  font-size: 24px;
}