body {
  font-family: serif, "Microsoft YaHei";
}
.total-content {
  margin: 0 auto;
  width: 1300px;
  border-radius: 3px;
}
.head {
  display: flex;
  justify-content: space-between;
  height: 120px;
}
.statistical-module {
  border-radius: 5px;
  width: 300px;
  height: 100px;
}
.total-task {
  position: relative;
  background-color: #31b48d;
}
.unsolved-task {
  position: relative;
  background-color: #38a1f2;
}
.processing-task {
  position: relative;
  background-color: #7538c7;
}
.solved-task {
  position: relative;
  background-color: #3b67a4;
}
.module-title {
  top:18px;
  left:15px;
  position: absolute;
  color: white;
  font-size: 14px;
}
.module-number{
  top:50px;
  left:15px;
  position: absolute;
  color:white;
  font-size: 32px;
  font-weight: 500;
  line-height: 30px;
}
.module-isOnline{
  top:18px;
  right:15px;
  position: absolute;
  width:40px;
  height:20px;
  border-radius: 3px;
  background: rgba(255,255,255,0.3);
  color:white;
  text-align: center;

}
