body {
  font-family: serif, "Microsoft YaHei";
}
@font-face {
  font-family: "iconfont";
  src: url("./iconfont/iconfont.eot");
  src: url("./iconfont/iconfont.eot?#iefix") format("embedded-opentype"),
    url("./iconfont/iconfont.woff2") format("woff2"),
    url("./iconfont/iconfont.woff") format("woff"),
    url("./iconfont/iconfont.ttf") format("truetype"),
    url("./iconfont/iconfont.svg#iconfont") format("svg");
}
.iconfont {
  font-family: "iconfont" !important;
  opacity: 0.3;
  font-size: 100px;
  font-style: normal;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.total-content {
  margin: 20px auto 0 auto;
  width: 1500px;
  border-radius: 3px;
}
.header {
  display: flex;
  justify-content: space-between;
  height: 120px;
}
.statistical-module {
  border-radius: 5px;
  width: 360px;
  height: 120px;
}
.total-task {
  position: relative;
  background-color: #31b48d;
}
.unsolved-task {
  position: relative;
  background-color: #38a1f2;
}
.processing-task {
  position: relative;
  background-color: #7538c7;
}
.solved-task {
  position: relative;
  background-color: #3b67a4;
}
.module-title {
  top: 15px;
  left: 15px;
  position: absolute;
  color: white;
  font-size: 14px;
}
.module-number {
  top: 70px;
  left: 15px;
  position: absolute;
  color: white;
  font-size: 32px;
  font-weight: 500;
  line-height: 30px;
}
.module-isOnline {
  top: 15px;
  right: 15px;
  position: absolute;
  width: 35px;
  height: 22px;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.3);
  color: white;
  font-size: 14px;
  text-align: center;
}
.module-percentage {
  top: 70px;
  right: 15px;
  position: absolute;
  color: white;
  font-size: 32px;
  font-weight: 500;
  line-height: 30px;
}
.module-icon {
  top: 10px;
  right: 60px;
  position: absolute;
  width: 50px;
  height: 50px;
}
table {
  width: 1500px;
  border-collapse: collapse;
}
table thead {
  width: 1500px;
  border-bottom: 1px solid #dcdee3;
  color: #333;
  background: #ebecf0;
  text-align: left;
}
table tr {
  height: 80px;
  border-bottom: 1px solid #dcdee3;
}
table th {
  padding-left: 10px;
  border: 0;
}
.title-name {
  width: 300px;
}
.title-description {
  width: 800px;
}
.title-end-time {
  width: 300px;
}
.title-state {
  width: 300px;
}
.title-operate {
  width: 300px;
}
.list-content {
  padding-left: 10px;
  padding-right: 10px;
}
.delete-icon {
  height: 35px;
  width: 70px;
  background-color: #ee706d;
  border: 0;
  border-radius: 5px;
  text-align: center;
  color: white;
}
.ell-row {
  text-align: center;
}
.ellipsis-block {
  width: 80px;
  height: 40px;
  border: 0;
  font-size: 24px;
}

.active-color {
  color: #666666;
}
.pending-color {
  color: #ee706d;
}
.closed-color {
  color: #f7da47;
}
.confirm-total-page {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
}
.confirm-dialog {
  position: absolute;
  width: 400px;
  height: 200px;
  top: calc(35%);
  left: calc(37%);
  border-radius: 5px;
  background-color: #fff;
}
.confirm-dialog-head {
  height: 30px;
  padding-left: 370px;
  position: relative;
  border: none;
}
.icon-close {
  position: relative;
  top: 20px;
  font-size: 16px;
  color: #666;
}
.confirm-content {
  display: inline-block;
  position: relative;
  padding-left: 30px;
}
.confirm-icon {
  position: relative;
  bottom: 20px;
  left: 20px;
  font-size: 50px;
  color: #f1c826;
}
.confirm-title {
  display: inline-block;
  padding-left: 5px;
  line-height: 24px;
  font-size: 20px;
  color: #333;
}
.confirm-text {
  color: #666;
  margin-top: 8px;
  font-size: 14px;
}
.confirm-two-button {
  position: relative;
  margin: 18px 0;
  padding-left: 210px;
}
.admit-icon {
  height: 30px;
  width: 60px;
  background-color: #3080fe;
  border: 1px solid #dcdee3;
  border-radius: 3px;
}
.cancel-icon {
  height: 30px;
  width: 60px;
  border-radius: 3px;
  border: 1px solid #dcdee3;
}
